extends layout

block content
  if user
    h1 Welcome back #{user.username}
    if !user.ismember
      p Please become a member to create messages
      a(href="/member") 
        button Become member
    else 
      p Congratulations! You are a member. 
      | Send a 
      a(href="/message") Message
    a(href="/log-out")
      p Log out

  else 
    h1= title
    p Welcome to #{title}
    a(href="/log-in") Log in
    p or
    a(href="/sign-up") Sign up  
