extends layout

block content
    div.prompt
        h1 Create a message

    form(action="" method="POST")
        label(for="title") Title:
        input(type="text" id="title" name="title" placeholder="Message title")
        label(for="message") Message:
        input(type="text" id="message" name="message" placeholder="Message text")
        button Create message
        if errors
            ul.errors
                each error in errors
                    li!= error.msg
